:root {
    --main-color: var(--color-gradient);
    --primary-color: var(--color-orange);
    --secondary-color: var(--color-pink);
    --third-color: var(--color-green);

    --color-dark: hsl(252, 30%, 17%);
    --color-cream: hsl(40, 71%, 96%);
    --color-green: hsl(81, 70%, 85%);
    --color-pink: hsl(351, 84%, 66%);
    --color-orange: hsl(15, 96%, 81%);
    --color-purple: hsl(246, 100%, 88%);
    --color-creamy: hsl(0, 100%, 96%);
    --color-purpler: hsl(241, 69%, 76%);
    --color-blue: hsl(220, 97%, 70%);
    --color-darkblue: hsl(242, 58%, 49%);
    --color-pastel: hsl(190, 100%, 77%);
    --color-greenw: hsl(141, 36%, 55%);
    --color-pinkw: hsl(351, 84%, 66%);
    --color-pinky: hsl(352, 100%, 85%);
    --color-yellow: hsl(52, 97%, 49%);
    --color-PINK: hsl(311, 94%, 74%);
    --color-bleu: hsl(254, 49%, 54%);
    --color-gradient: linear-gradient(90deg, var(--color-green), var(--color-orange), var(--color-pink));
    --color-lavander: linear-gradient(90deg, var(--color-purpler), var(--color-purple), var(--color-creamy));
    --color-beach: linear-gradient(90deg, var(--color-darkblue), var(--color-blue), var(--color-pastel));
    --color-watermelon: linear-gradient(90deg, var(--color-greenw), var(--color-pinky), var(--color-pinkw));
    --color-city: linear-gradient(90deg, var(--color-bleu), var(--color-PINK), var(--color-yellow));
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --input-bg-color: var(--color-cream);
    --button-color: var(--third-color);
    --button-hover-color: var(--secondary-color);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    color: var(--color-dark);
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--color-cream);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.header {
    background: var(--main-color);
    color: var(--color-dark);
    padding: 20px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.back-icon {
    position: absolute;
    top: 50%;
    left: 50px; /* Adjust the left value as needed */
    transform: translateY(-50%);
    color: var(--color-dark); /* Use the secondary color */
    text-decoration: none;
    font-size: 24px; /* Adjust the font size as needed */
}

.back-icon:hover {
    color: var(--primary-color); /* Change color on hover */
}

.back-icon i {
    font-size: inherit; /* Inherit font size from parent */
}

h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: var(--color-dark);
    resize: vertical;
    min-height: 100px;
    color: var(--color-cream);
}

input[type="file"] {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: var(--color-dark);
    color: var(--color-cream);
}

input[type="submit"] {
    padding: var(--btn-padding);
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--third-color);
    color: var(--color-dark);
}

.hash-container {
    color: var(--color-dark);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    background: var(--color-dark);
    border-color:var(--secondary-color);
    color:var(--color-cream);
}

.hashtag {
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--color-cream);
}

.hashtag.selected {
    background-color: var(--secondary-color);
}
