:root {
    --main-color: var(--color-gradient);
    --primary-color: var(--color-orange);
    --secondary-color: var(--color-pink);
    --third-color: var(--color-green);

    --color-dark: hsl(252, 30%, 17%);
    --color-cream: hsl(40, 71%, 96%);
    --color-green: hsl(81, 70%, 85%);
    --color-pink: hsl(351, 84%, 66%);
    --color-orange: hsl(15, 96%, 81%);
    --color-purple: hsl(246, 100%, 88%);
    --color-creamy: hsl(0, 100%, 96%);
    --color-purpler: hsl(241, 69%, 76%);
    --color-blue: hsl(220, 97%, 70%);
    --color-darkblue: hsl(242, 58%, 49%);
    --color-pastel: hsl(190, 100%, 77%);
    --color-greenw: hsl(141, 36%, 55%);
    --color-pinkw: hsl(351, 84%, 66%);
    --color-pinky: hsl(352, 100% , 85%);
    --color-yellow: hsl(52, 97%, 49%);
    --color-PINK: hsl(311, 94%, 74%);
    --color-bleu: hsl(254, 49%, 54%);
    --color-gradient: linear-gradient(90deg, var(--color-green), var(--color-orange), var(--color-pink));
    --color-lavander: linear-gradient(90deg, var(--color-purpler), var(--color-purple), var(--color-creamy));
    --color-beach: linear-gradient(90deg, var(--color-darkblue), var(--color-blue), var(--color-pastel));
    --color-watermelon: linear-gradient(90deg, var(--color-greenw), var(--color-pinky), var(--color-pinkw));
    --color-city: linear-gradient(90deg, var(--color-yellow), var(--color-PINK), var(--color-bleu));
    --border-radius: 2rem;
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-cream);
    background: var(--color-dark);
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Navigation */
nav {
    width: 100%;
    background: var(--main-color);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.text-muted {
    color: var(--secondary-color);
}

/* Main Layout */
main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
}

main .container .left,
main .container .middle,
main .container .right {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left {
    width: 13vh;
}

.left .profile {
    padding: var(--card-padding);
    background: var(--main-color);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-left: 9rem;
    margin-right: 25rem;
    width: auto; /* Lățime automată pentru a se adapta conținutului */
    color: var(--secondary-color);
}

.left .profile .email{
    color:var(--third-color);
}

.left .sidebar {
    margin-top: 1rem;
    background: var(--primary-color);
    border-radius: var(--card-border-radius);
    color: var(--secondary-color);
    width: 9rem;
    margin-left: 9rem;
    margin-bottom: 6rem;
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover {
    background: var(--color-dark);
}

.left .sidebar i {
    font-size: 1.4rem;
    margin-left: 2rem;
    position: relative;
}

.left .sidebar .active {
    background: var(--color-dark);
}

.left .sidebar .active i, .left .sidebar .active h3 {
    color: var(--third-color);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    border-radius: 50%;
    background: var(--third-color);
    box-shadow: 0 0 10px 5px var(--third-color);
    animation: glowingCircle 1s ease-in-out infinite alternate;
}

@keyframes glowingCircle {
    from {
        box-shadow: 0 0 10px 5px var(--third-color);
    }
    to {
        box-shadow: 0 0 20px 10px var(--third-color);
    }
}

.middle .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-width: 10px;
    border-color: var(--primary-color);
    border-radius: 20px;
    background-color: hsl(252, 30%, 17%);
    padding: 20px;
    margin: 20px;
    color: var(--color-cream);
    box-shadow: 0 0 100px var(--third-color);
}